/fusion_framework/methods/Fusion/MaeFuse/checkpoints/
/fusion_framework/methods/Fusion/Mask-DiFuser/checkpoints/
/fusion_framework/methods/Fusion/NightToDay/checkpoints/
/fusion_framework/methods/Fusion/PAIF/checkpoints/
/fusion_framework/methods/Fusion/SAGE/checkpoints/
/fusion_framework/methods/Fusion/SeAFusion/model/Fusion/
/fusion_framework/methods/Fusion/TarDAL/checkpoints/
/fusion_framework/methods/Fusion/TextIF/pretrained_weights/
/fusion_framework/methods/Wrapping/CrossRAFT/checkpoints/
/fusion_framework/methods/Wrapping/PGMR/checkpoints/
/fusion_framework/methods/Wrapping/XCalib/model/backbone/Depth_anything/metric_depth/checkpoints/
/fusion_framework/methods/Wrapping/XCalib/model/enhancer/checkpoint/
/fusion_framework/methods/Wrapping/XCalib/model/flow/CrossModalFlow/cross_raft_ckpt/
/fusion_framework/methods/Wrapping_and_Fusion/C2RF/checkpoints/
/fusion_framework/methods/Wrapping_and_Fusion/SemLA/checkpoints/
/fusion_framework/methods/Wrapping_and_Fusion/SuperFusion/checkpoints/
results/
*.png
*.pt
*.pth
*.ckpt
*.zip
*.tar

